//
//  Config.xcconfig
//  MarvelCharacters
//
//  Created by Dina Ragab on 19/10/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = gateway.marvel.com/v1/public/
API_KEY = 34d47e78117a409617d2b8531cbf6228
API_PRIVATE_KEY = 047403b5d229f4b80de0714be8e2fa70f5fd2a69
